ptgr.localhost:80 {
    root * /srv/app/public
    encode zstd gzip
    file_server
    php_fastcgi unix//var/run/php/php-fpm.sock
    tls internal
}

ptgr.localhost:443 {
    root * /srv/app/public
    encode zstd gzip
    file_server
    php_fastcgi unix//var/run/php/php-fpm.sock
    tls internal {
        on_demand
    }
}